start.json
[{"id":"190c4f1f.01ae71","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"382ea64e.a39f1a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c21d13e0.23db","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ec298191.8fa53","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.43.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"455fdf6c.5488a","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.43.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ed68f688.5090b8","type":"ui_group","z":"","name":"Group 1","tab":"4105b59.4a3cd4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4105b59.4a3cd4c","type":"ui_tab","z":"","name":"abhi.sree_Menu","icon":"dashboard","order":1},{"id":"68d2d303.eb41fc","type":"mqtt in","z":"382ea64e.a39f1a","name":"","topic":"outTopic","qos":"0","broker":"ec298191.8fa53","x":100,"y":300,"wires":[["b92091fb.2879e","8de72b47.eb4c38"]]},{"id":"385040a9.edacd","type":"mqtt out","z":"382ea64e.a39f1a","name":"","topic":"inTopic2","qos":"","retain":"","broker":"455fdf6c.5488a","x":650,"y":160,"wires":[]},{"id":"7c003e59.890b3","type":"inject","z":"382ea64e.a39f1a","name":"","topic":"inTopic2","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["adc590d2.1cf6"]]},{"id":"b92091fb.2879e","type":"debug","z":"382ea64e.a39f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"adc590d2.1cf6","type":"ui_switch","z":"382ea64e.a39f1a","name":"switch for esp8266","label":"switch for esp8266","tooltip":"","group":"ed68f688.5090b8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"inTopic","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":370,"y":160,"wires":[["385040a9.edacd","839e352f.72de78"]]},{"id":"839e352f.72de78","type":"debug","z":"382ea64e.a39f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":240,"wires":[]},{"id":"8de72b47.eb4c38","type":"ui_gauge","z":"382ea64e.a39f1a","name":"Light_Sensor","group":"ed68f688.5090b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Readings","label":"units","format":"{{ }}","min":"-30","max":"256","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"65","x":450,"y":280,"wires":[]},{"id":"3add066a.0d612a","type":"inject","z":"382ea64e.a39f1a","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":400,"wires":[["6df6bfb6.2b9b5"]]},{"id":"6df6bfb6.2b9b5","type":"http request","z":"382ea64e.a39f1a","name":"","method":"GET","ret":"obj","url":"https://hst-api.wialon.com/wialon/ajax.html?svc=token/login&params={\"token\":\"016a8fb4d1bc36d6a8272a9dacb936c115F5F27E1681C7A0A34E1F2FBCDC7645B8E6BED7\"}","tls":"","x":350,"y":420,"wires":[["c26e872a.c7bc68"]]},{"id":"c26e872a.c7bc68","type":"debug","z":"382ea64e.a39f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.th","x":660,"y":420,"wires":[]},{"id":"237ffb1a.aba8f4","type":"http in","z":"382ea64e.a39f1a","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":90,"y":520,"wires":[["12655f5c.de51f1"]]},{"id":"ebd8de15.a7cc6","type":"http response","z":"382ea64e.a39f1a","name":"Responce Node","statusCode":"200","headers":{},"x":500,"y":520,"wires":[]},{"id":"5445853a.71432c","type":"debug","z":"382ea64e.a39f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":580,"wires":[]},{"id":"12655f5c.de51f1","type":"http request","z":"382ea64e.a39f1a","name":"","method":"GET","ret":"obj","url":"https://hst-api.wialon.com/wialon/ajax.html?svc=token/login&params={\"token\":\"016a8fb4d1bc36d6a8272a9dacb936c115F5F27E1681C7A0A34E1F2FBCDC7645B8E6BED7\"}","tls":"","x":270,"y":520,"wires":[["ebd8de15.a7cc6","5445853a.71432c"]]},{"id":"927a8755.8baeb8","type":"debug","z":"382ea64e.a39f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":80,"wires":[]},{"id":"2a90d0da.35c28","type":"mosca in","z":"382ea64e.a39f1a","mqtt_port":"1883","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":110,"y":80,"wires":[["927a8755.8baeb8"]]}]